[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==1.14.0"
numpy = "*"
flatbuffers = "*"
scikit-learn = "*"
tqdm = "*"
prettytable = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.6"
